<div class="login-container">

    <mat-card class="login-card">

        <div class="logo-section">
            <h1>Sales Commission UI</h1>
            <h3>Management System</h3>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password">

                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>


            <div class="option-section">

                <mat-checkbox>
                    Remember Me
                </mat-checkbox>

                <a href="#">Forgot Password?</a>

            </div>

            <button
                mat-raised-button
                color="primary"
                class="login-btn"
                type="submit">

                Login

            </button>

        </form>

    </mat-card>

</div>