.container {

    height: 100vh;

}

.sidebar {

    width: 250px;
    background-color: #f5f5f5;

}

.logo {

    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #1e3c72;

}

.spacer {

    flex: 1 1 auto;

}


.dashboard-content {

    padding: 30px;

}


mat-card {

    padding: 20px;
    border-radius: 10px;

}